doctype html
html
  head
    title Buildbotics CNC Controller

    include ./partials/head.pug
    style: include:stylus ../stylus/common.styl

    script: include ../js/jquery.min.js
    script: include ../js/vue.min.js
    script: include ../js/product.js
    include ./partials/owl.pug

    style: include:stylus ../stylus/product.styl

  body
    include ./partials/header.pug

    #content.product(v-if="typeof product.images != 'undefined'")
      .product-images
        .owl-carousel
          figure(v-for="(image, index) in images", v-if="!image.thumbnail")
            img.owl-lazy(:data-src="image.medium", :alt="image.description",
              :title="image.description",
              :data-hash="'product-image-' + index")

        .product-thumbnails
          a(v-for="(image, index) in images", v-if="!image.thumbnail",
            :href="'#product-image-' + index")
            img(:src="image.medium", :alt="image.description",
              :title="image.description")

      .product-offer
        h1.product-title {{product.name}}
        .product-rating
          .review-stars
            .fa.fa-star.gold-star(
              v-for="n in parseInt(product.average_review)")
          a(href="#reviews") ({{product.reviews.length}} reviews)
          a(href="#") Write a review

        .product-price
          span ${{price}}
          span USD + shipping

        .product-modifiers
          .product-modifier(v-for="(modifier, mindex) in product.modifiers")
            h2 {{modifier.name}} Option:
            ul.product-options
              li.product-option(v-for="(option, oindex) in modifier.options",
                :class="{selected: modifier.option == oindex}",
                @click="modifier.option = oindex")

                input(type="radio", :name="'mod-' + mindex",
                  v-model="modifier.option", :value="oindex")

                .product-option-thumbnail
                  img(v-if="option.thumbnails.length",
                    :src="option.thumbnails[0]")

                label.option-name {{option.label}}
                label.option-price + ${{option.price}}

        .product-add
          button.add-to-cart Add to Cart
          .product-stock Current Stock: {{product.inventory}}

      .product-description
        h1.product-title {{product.name}}
        div(v-html="product.description")

      div
        h1 Product Reviews
        .product-reviews#reviews
          section.product-review(v-for="(review, index) in product.reviews",
            :id="'product-review-' + index",
            @dblclick="review.full = !review.full")

            .product-review-wrapper(:class="{'show-full': review.full}")
              h2 {{review.title}}

              strong.
                Posted by {{review.name}} on {{review.created.substr(0, 10)}}

              div
                .fa.fa-star.gold-star(v-for="n in review.rating")
                .fa.fa-star(v-for="n in 5 - review.rating")

              .review-text {{review.text}}

            .product-review-more(
              v-if="review_has_more(index) || review.has_more",
              @click="review.full = !review.full").
              Show {{review.full ? 'less' : 'more'}}

    include ./partials/footer.pug
