<!DOCTYPE html>
<html lang="{{@site.lang}}">
  {{> "head"}}
  <body class="error-template">
    {{> "assets/header.html"}}

    <div class="site-wrapper">
      <main id="site-main" class="site-main outer">
        <div class="inner">
          <section class="error-message">
            <h1 class="error-code">{{code}}</h1>
            <p class="error-description">{{message}}</p>
            <a class="error-link" href="{{@site.url}}"
               >Go to the front page →</a>
          </section>

          {{#if errorDetails}}
          <section class="error-stack">
            <h3>Theme errors</h3>
            <ul class="error-stack-list">
              {{#foreach errorDetails}}
              <li>
                <em class="error-stack-function">{{{rule}}}</em>

                {{#foreach failures}}
                <p><span class="error-stack-file">Ref: {{ref}}</span></p>
                <p><span class="error-stack-file">Message: {{message}}</span>
                </p>
                {{/foreach}}
              </li>
              {{/foreach}}
            </ul>
          </section>
          {{/if}}
        </div>
      </main>
    </div>

    {{> "assets/footer.html"}}
    {{> "foot"}}
  </body>
</html>
